* {
    box-sizing: inherit;
}

body,
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #eeeeee;
    color: #333333;
}

header {
    background-color: #333333;
    padding: 30px;
    color: #eeeeee;
}

main {
    display: flex;
    flex-flow: nowrap row;
    min-height: calc(100vh - 100px);
}

main>div {
    flex: 1;
}

main div#menu {
    max-width: 300px;
    min-width: 200px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    padding: 20px
}

main div#main-content {
    flex: 2.5;
    padding: 20px
}

main div#main-content>* {
    margin: 0 auto;
}


/* Inbox */

#inbox-container {
    display: flex;
    flex-direction: column;
}

#inbox-container button {
    background-color: #f1ebeb80;
}

.project-exit-btn {
    display: none;
}

.project-exit-btn.active {
    display: block;
}


/* Modal Content */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 50%;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/* TODO card */


/*           <div class="card-partial">
            <p class="card-title" data-todo-name="${title}">${title}</p>
            <p class="card-date">${formattedDate}</p>
          </div>
          <div class="card-extended">
            <p class="card-description">${description}</p>
            <p class="card-priority">${priority}</p>
          </div> */

.todo-card {
    background-color: #dddddd;
    padding: 20px;
}

.card-extended {
    display: none;
}

.card-extended.active {
    display: block;
}